<div class="container">
  <div class="row">
    <div class="center-form panel event-panel">
        <div class="panel-body">
          <h2 class="text-center">Create Event</h2>
          <form method="post" ng-submit="createEvent()" name="eventForm">
            <div class="form-group has-feedback form-input">
              <p class='event-options'>EVENT NAME</p>
              <input class="form-control input-lg" type="text" name="name" ng-model="eventName" placeholder="Event Name" required>
            </div>

            <div class="form-group has-feedback form-input">
              <p class='event-options'>JSON DATE</p>
              <input class="form-control input-lg time" type="text" name="time" ng-model="startTime" placeholder="Start Time" required>
            </div>

            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{groupName}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="group in groups"role="presentation"><a role="menuitem" tabindex="-1" ng-click="setGroup(group.id,group.name)">{{group.name}}</a></li>
              </ul>
            </div>

            <div class="form-group has-feedback form-input">
              <p class='event-options'>DURATION</p>
              <input class="form-control input-lg" type="number" name="duration" ng-model="duration" placeholder="Duration" required>
            </div>

            <div class="form-group has-feedback">
              <p class='event-options'>DESCRIPTION</p>
              <textarea class="form-control input-lg" name="description" ng-model="description" required></textarea>
            </div>

            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-block btn-success">Create</button>
            <br />
          </form>
        </div>
    </div>
  </div>
</div>
