<div id="bg"></div>

<section id="main">
	<div class="center">
		<div id="organized">
			<h1 id="organized-text">Stay organized.</h1>
			<h3>All of your due dates, tests,<br>
			and club events in one place.</h3>
		</div>

		<div id="register">
			<form role="form">
				<h3 id="utmail">Register with your UTMail</h3>
				<div class="form-group form-scale">
					<input type="email" class="form-control input-lg form-scale" id="inputEmail" placeholder="Email">
				</div>
				<div class="form-group form-scale">
					<input type="password" class="form-control input-lg form-scale" id="inputPassword" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-lg register-button">Sign up</button>
				<p id="login-link">Or log in <a href="#/login">here</a>.</p>
			</form>
		</div>
	</div>
</section>

<section class="center">
	<div class="feature">
		<img class="left" src="images/landimg1.png" width="300" height="300">
		<div class="feature-text right">
			<h3>Find event times, test dates,<br>
			and deadlines for all of your courses.</h3>
			<p>With an online verification system, events added by other users can be seen and added to your own calendar with ease. Adding an event to your calendar increases the event's hitcount and lets other users know which times are correct. Can't find a certain event for a group? Just add it to the group or your personal calendar.</p>
		</div>
	</div>

	<div class="feature">
		<img class="right" src="images/landimg2.png" width="300" height="300">
		<div class="feature-text left">
			<h3>Clean, simple interface.</h3>
			<p>Search for courses and events from the universal search bar. Colour code your courses to your liking and filter groups to make it easier to find things on the web calendar that's all about organization.</p>
		</div>
	</div>

	<div class="feature">
		<img class="left" src="images/landimg3.png" width="300" height="300">
		<div class="feature-text right">
			<h3>Never miss a deadline again. *work in progress*</h3>
			<p>Stay in the know with the cutting edge Unified Notification System (shorthand UNS). Reminders can be configured automatically for all events so you can plan your studies the way you want without worrying about sneaky deadlines. Event changes will also give notifications so you'll be able to keep on top of things.</p>
		</div>
	</div>
</section>
