<head>
<style>
body {
	background-color: #f2f2f2;
	padding: 0;
	margin: 0;
}
header {
	padding-top: 10px;
}
.center {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.main {
	color: red;
	height: 360px;
	margin-top: 10px;
	background-image: url("main.png");
	background-repeat: no-repeat;
	background-position: center;
}
</style>
</head>

<body>
	<header class="center">
		<a href=landing.html"><img src="logo.png" width="156" height="46"></a>
		<p style="float:right">links</p>
	</header>
	
	<div class="main">
		Insert Landing page here
	</div>
</body>