 <div class="background">
  <div class="overlay">
    <div class="container">
      <div class="row">
          <div class="intro-section center-text">
            <h2 class="text-center white-text">Log in</h2>
            <form method="post" ng-submit="login()" name="loginForm">
              <div class="form-group has-feedback form-scale">
                <input class="form-control input-lg input-custom" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
                <span class="ion-at form-control-feedback"></span>
              </div>

              <div class="form-group has-feedback form-scale">
                <input class="form-control input-lg input-custom" type="password" name="password" ng-model="password" placeholder="Password" required>
                <span class="ion-key form-control-feedback"></span>
              </div>
              <div class="center-text">
                <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary register-button">
                  Log in
                </button>
              </div>

              <div class="alert alert-danger" role="alert" ng-show="invalidUsername">Invalid Email</div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>