/* Registration/login on the right of main */
.form-scale {
	width: 314px;
	margin: 10px auto 10px auto;
}
.register-button {
	cursor: pointer;
	margin-top: 6px;
	width: 150px;
}
#utmail {
	margin: 19px;
	color: white;
}
#login-link {
	margin-top: 30px;
	color: white;
}

/* Formatting for features */
.feature {
	height: 300px;
	margin: 40px 50px 40px 50px;
}
.feature-text {
	width: 500px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.left {
	float: left;
	text-align: right;
}
.right {
	float: right;
	text-align: left;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.9) !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.9) !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.9) !important;
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.9) !important;
}

h1 {
	font-size: 3.75rem;
	line-height: 5rem;
}

.intro-section {
	margin-top: 110px;
}


h4 {
line-height: 1.875rem;
}

.background {
	background-image: url("http://templateocean.com/stamp/geometric-polygon-bg/2-home-style-two/images/background-images/gp-blue.jpg");
}

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 84px;
	padding-bottom: 175px;
	height: auto;
}
h1 {
	color: white;
}

.white-text {
	color:white;
}
.center-text {
	text-align: center;
}

.input-custom {
	border:0;
	border-bottom: 1px solid white;
	background: transparent;
	color: rgba(255, 255, 255, 1);
}

.input-custom:focus {
	border:0;
	border-bottom: 1px solid white;
	box-shadow: 0, 0, 0, 0 white;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
	
}

.form-control:focus {
	-webkit-box-shadow: 0,0,0,0;
}

img {
	box-shadow: 1px 1px 25px 1px rgb(132, 132, 132)
}
