/*
	Stylesheet file for Login view
*/

.center-form {
	width: 330px;
	margin: 10% auto;
}

.login-panel {
	border-color: rgb(207, 217, 215);
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 17px;
}